* {
  margin: 0;
  padding: 0;
}

a,
button {
  -webkit-tap-highlight-color: transparent; /* Mobile tap flash */
  outline: none;
}

a:focus,
a:active,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

html {
  scroll-behavior: smooth;
}

/* =========================================================
   HEADER (GLASSMORPHISM)
========================================================= */
.site-header {
  position: fixed;
  top: 0vh;
  padding: 1vh 3vw;
  width: 94vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(14px);
  z-index: 100;
}

.logo {
  white-space: nowrap;
  display: flex;
  align-items: center;
}

#i-1 {
  width: 15vw;
  margin-right: 2vw;
}

#i-2 {
  width: 50vw;
}

.nav-links {
  display: none;
  gap: 28px;
}

.nav-links a {
  text-decoration: none;
  font-size: 0.95rem;
  font-weight: 500;
  color: #0f172a;
}

.bars{
  height: 28px;
  width: 28px;
  color: #0f172a;
}

.menu-btn {
  background: transparent;
  border: none;
  font-size: 1.3rem;
  color: #0f172a;
  cursor: pointer;
  margin-right: 2vw;
}
@media (min-width: 768px) {
  #i-1 {
    width: 12vw;
  }
  #i-2 {
    width: 40vw;
  }
  .menu-btn {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .menu-btn {
    display: none;
  }
  #i-1 {
    width: 6vw;
  }
  #i-2 {
    width: 20vw;
  }

  .nav-links {
    display: flex;
  }
}

/* =========================================================
   HERO SECTION
========================================================= */
.hero-content h1,
.section-title {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 4.5vh;
}

.hero-content p,
.subtitle,
.nav-links a {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.hero-actions a,
.btn-primary,
.btn-secondary,
.stat-number {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.hero {
  position: relative;
  background: linear-gradient(
  180deg,
  rgba(244, 67, 54, 0.12) 0%,
  rgba(244, 67, 54, 0.08) 30%,
  rgba(255, 250, 250, 0.97) 60%,
  #ffffff 100%
);


  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

.hero-image {
  position: relative;
  z-index: 1;
}

.hero-image img {
  width: 100vw;
  height: auto;
  display: block;
}

.hero-para {
  position: absolute;
  bottom: 2vh;
  width: 80vw;
  padding: 1.6vh 4vw;
  margin-left: 6vw;
  background: rgba(255, 255, 255, 0.818);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12),
    inset 0 1px 0 rgba(255, 255, 255, 0.4);
  font-family: "Inter", sans-serif;
}

#p-1 {
  color: #1f7a3f;
  font-size: 2.2vh;
  margin-bottom: 0.5vh;
  font-family: "Poppins", sans-serif;
}

#p-2 {
  color: #4b4b4b;
  font-size: 1.6vh;
}


.hero-icons {
  position: absolute;
  bottom: 1vh;
  right: 5vw;
  display: flex;
  gap: 2.7vw;
}

.hero-icons .social {
  color: #fff;
  font-size: 3vh;
}


.hero-content {
  position: relative;
  z-index: 2;
  padding: 3vh 6vw 6vh;
}

.hero-content h1 {
  line-height: 1.15;
  font-weight: 800;
  letter-spacing: 1px;
  color: #111827;
  margin-bottom: 1.2rem;
}

.hero-content p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #4b4b4b;
  width: 75vw;
  margin-bottom: 1.8rem;
}

.hero-actions {
  display: flex;
  gap: 1rem;
}

.btn-primary {
  background: linear-gradient(180deg, #1f7a3f, #166532);
  color: #fff;
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  text-decoration: none;
  box-shadow: 0 6px 16px rgba(31, 122, 63, 0.35);
}

.btn-secondary {
  background: #ffffff;
  color: #1f7a3f;
  padding: 0.7rem 1.6rem;
  border-radius: 999px;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
}

@media (min-width: 768px) {
  .hero-image img {
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    object-position: bottom;
  }
  .hero-content h1,
  .section-title {
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 3.9vh;
  }
  .hero-content h1 {
    margin-bottom: 1.9rem;
  }
  .hero-content p {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
  }
  .btn-primary {
    font-size: 2vh;
    margin-right: 3vw;
  }
  .btn-secondary {
    font-size: 2vh;
  }
  .hero {
    background: linear-gradient(
      180deg,
      rgba(31, 122, 63, 0.5) 0%,
      rgba(31, 122, 63, 0.4) 50%,
      rgba(245, 250, 247, 0.95) 80%,
      #ffffff 100%
    );
  }
}

@media (min-width: 1024px) {
  .hero {
    display: flex;
    padding-bottom: 8vh;
    padding-top: 12vh;
    background: linear-gradient(
      90deg,
      rgba(31, 122, 63, 0.2) 0%,
      rgba(31, 122, 63, 0.2) 40%,
      rgba(245, 250, 247, 0.95) 60%,
      #ffffff 100%
    );
  }
  .hero-image img {
    width: 44vw;
    margin-left: 3vw;
    height: auto;
  }
  .hero-para {
    width: 36vw;
    padding: 1.6vh 2vw;
    margin-left: 5vw;
    bottom: 5vh;
  }
  #p-1 {
    font-size: 2.6vh;
  }

  #p-2 {
    font-size: 2.2vh;
  }
  .hero-content h1 {
    font-size: 6.5vh;
    width: 30vw;
  }
  .hero-content p {
    width: 35vw;
  }
  .hero-content {
    padding: 3vh 5vw 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

